name: C Project CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Install GCC
        run: sudo apt-get update && sudo apt-get install -y build-essential

      - name: Build Application
        run: |
          gcc -c mul.c -o mul.o
          gcc -c main.c -o main.o
          gcc mul.o main.o -o app

      - name: Run Application
        run: ./app

      - name: Build Test File
        run: |
          gcc -c mul.c -o mul.o
          gcc -c test.c -o test.o
          gcc mul.o test.o -o test_app

      - name: Run Tests
        run: ./test_app

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: app


  deploy:
    runs-on: ubuntu-latest
    needs: build-test
    steps:
      - name: Download Build Artifact
        uses: actions/download-artifact@v4
        with:
          name: build-output

      - name: Deploy (Copy to server or folder)
        run: |
          echo "Deploying build artifact..."
          mkdir -p deployed_app
          cp app deployed_app/
          echo "Deployment completed!"
